
p, ul {
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 10pt;
    margin: 10px 0 10px 0;
    font-weight: normal;
    line-height: 1.5;
}

body {
  font-family: 'Slabo 27px', serif;
  font-family: 'Montserrat', sans-serif;
   background-color:rgb(126, 128, 116);
     background-image: url('https://www.thatspopculture.com/img/news/editor/hogwarts.jpg');
}

img {
  max-width: 100%;
  height: auto;
  display:block;
}


.school-info {
  padding:25px;
}

.school-info >  {
  display: inline-block;
  vertical-align:middle;
}

.school-info {
  margin-right:20px;
}

.school-info h1 {
  color:#000;
  font-size:24px;
  text-transform: uppercase;
}


.wiki-container .top-page.content .slideshow {
  flex: 1 1 70%;
  padding-right: 25px;
}
 .top-page.content .quick-links {
  flex: 1 1 30%;
}

.top-page.content .quick-links.quick-links-outer {
    background: ;
    border: 1px solid ;
}

.quick-links-inner {
   padding: 20px;
}

.quick-links-inner h2 {
  color:red;
  margin-bottom:20px;
  text-align:center;
  font-size: 20px; 
  text-transform: uppercase;
}

.quick-links .item {
  padding:10px;
}

.quick-links-inner li.item {
    padding: 12px;
    margin-bottom: 10px;
}

.wiki-container .wiki-area.content {
  background: white;
  padding:15px;
  font-family: 'Schoolbell', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.wiki-area.content .home-content {
  flex: 1 1 70%;
  margin-right:25px;
}


.content h3 {
  text-transform: uppercase;
  font-size:18px;
  color:white;
}


.wiki-area.content .home-sidebar h3 {
  padding-bottom:10px;
  border-bottom: 1px dotted ;
}

.wiki-area.content .home-sidebar {
  flex: 1 1 30%;
}

.wiki-area.content .home-sidebar ul li {
  margin-bottom: 30px;
}
.whiteabeg {
    background-color:blue;
}
.whiteabeg .ul{
    color:white;
}
